#header {
    background: #fff;
    height: 64px;
    overflow: hiddent;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
nav{
    width: 98%;
    position: absolute;
    background-color:#0BA9F9;
    align-items: center;
    margin-inline-end: auto;
}

a.navbar-brand {
    color: #ffffff;
    font-family: 'Roboto';
    margin-left: 0;
    font-size: 36px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    float: left;
    height: 50px;
}
a.header {
    padding: 35px 12px ;
    margin-left: 18px;
    border-radius: 3px;
    color: #ffd;
    line-height: 24px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    }
a.future {
    padding: 35px 12px ;
    margin-left: 18px;
    border-radius: 3px;
    color: #ffd;
    line-height: 24px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    }
a.gallery {
    padding: 35px 12px ;
    margin-left: 18px;
    border-radius: 3px;
    color: #ffd;
    line-height: 24px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    }
a.price {
    padding: 35px 12px ;
    margin-left: 18px;
    border-radius: 3px;
    color: #ffd;
    line-height: 24px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    }  
a.ourteam {
    padding: 35px 12px ;
    margin-left: 18px;
    border-radius: 3px;
    color: #ffd;
    line-height: 24px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    }
a.contact {
    padding: 35px 12px ;
    margin-left: 18px;
    border-radius: 3px;
    color: #ffd;
    line-height: 24px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    }  
body {
    background-image:url(C:\Users\John\Desktop\7.jpg);
            
    }





